<div class="container">
    <%= "Soy la tarea # "%>
    <%= @task.id %>
    <%= "Y tengo  "%>
    <%= @task.participating_users.count%>
    <br>
    

</div>

<div class="notes-container">
  <div class="notes">
    <% @task.notes.each do |note|%>
      <%= render 'tasks/notes/note.html.erb', note: note %>
    <% end %>
  </div>
  <%= form_for @note, url: task_notes_path(task_id: @task.id), remote: true do |f| %>
  <div>
    <%= f.label :body, "Nota" %>
    <%= f.text_area :body, rows: 2 %>
  </div>
    <%= f.submit"Añadir nota", data: {confirm: "Seguro?"}%>
  <% end %>
</div>


