<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">
      <%= image_tag 'logo.png', class: 'd-inline-block align-top', width: 85 %></a>
    <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNavDropdown" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown"></div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="<%= root_path %>">Inicio</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="<%= root_path %>">Categorías</a>
        </li>
      
        <% if current_user %>
          <li class="nav-item">
            <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to ' Ingresar', new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <%= link_to 'Crear Tarea', new_task_path, class: 'btn btn-light ml-2' %>
      <a><div aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" id="userMenu">
        <%= image_tag "https://robohash.org/#{current_user.email}?size=38x38" %>
        <div aria-labelledby="userMenu" class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-item small text-right">
            <%= current_user.email %>
          </div>
        </div>
      </div></a>
      
    </div>
  </div>
</nav>
